
.logosize{
    width: 20%;
    height: 20%;

}
.logo-location{
    display: flex;
    justify-content: center;
    position: relative;

}

.mainbanner-location{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.mainbanner-size{
    width: 1140px;
    height: auto;
}
.new-items-style{
    font-size: 40px;
    padding: 70px 0;
}
.arcordion-size{
    width: 200px;
    height: 50px;
}
.footer{
    width: 100%;
    height: 300px;
    background-color:lightgrey;
    margin-top: 120px;
}
.img-size{
    width: 300px;
    height: 350px;
}
.won{
    color:#0067A3;
}
.column{
    display: flex;
    flex-direction: column;
    padding: 0 15px;}

.menucontainer{
    max-width: 1170px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;}
.menubox1{
    width: 60%;
    display: flex;
    justify-content: space-between;
}